<link rel="import" href="/templates/resource-bundle.html">

<style>
    catrobat-statistics.loading {
        display: none;
    }

    catrobat-statistics h3 {
        margin-top: 1em;
    }

    catrobat-statistics .table td {
        padding: 0.5em;
    }

    @media (max-width: 400px) {
        catrobat-statistics .table td {
            padding: 0.3em;
        }
    }

    .select-period {
        width: 100%;
    }

    .catrobat-statistics-option {
        display: none;
    }

    .overall-container {
        max-width: 300px;
        margin: auto;
    }

    #quantities td:last-child {
        padding-left: 0;
    }

    #quantities td:nth-last-child(2) {
        padding-right: 2px;
    }

    .chart {
        max-width: 600px;
        margin: 8px auto;
    }

    .pie-chart {
        max-width: 160px;
        width: 100%;
        height: auto;
        display: block;
    }

    .chart-container {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .legend-horizontal {
        display: flex;
        flex-direction: row;
    }

    .legend-item {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: center;
    }

    .legend-item-horizontal:first-child {
        justify-content: flex-end;
        padding-right: 4px;
    }

    .legend-item-horizontal:last-child {
        padding-left: 4px;
    }

    .legend-vertical {
        margin-left: 12px;
    }

    .legend-block {
        width: 40px;
        height: 12px;
        margin-right: 6px;
    }

    .legend-text {
        font-size: 12px;
    }

    @media (max-width: 350px) {
        .chart-statistics {
            width: calc(100% + 24px);
            margin-left: -12px;
            margin-right: -12px;
        }
    }

    tr.statistics-row > td {
        vertical-align: middle;
    }

    .diff {
        font-size: 0.7em;
    }

    .diff-greater {
        color: green;
    }

    .diff-equals {
    }

    .diff-less {
        color: red;
    }
</style>

<template id="t-catrobat-statistics">
    <div class="main-header">
        <h2 class="page-title">Catrobat Statistics</h2><span class="last_updated_container">Last updated on
        <span class="last_updated">?</span></span>
    </div>
    <p>Only Programs with Catrobat Language Version >=&nbsp;0.94 are included. If you are curious about new statistics
        or found a bug, please let me know by creating a
        <a href="https://github.com/robertpainsi/robertpainsi.github.io/issues">GitHub issue</a>.</p>

    <p class="catrobat-statistics-option option-yearly option-monthly">
        To see if a value has been increased or decreased, all percentages are
        relative&nbsp;(=&nbsp;value&nbsp;/&nbsp;#programs) compared to last <span
            class="catrobat-statistics-option option-yearly">year</span><span
            class="catrobat-statistics-option option-monthly">month</span>. Overall-Programs is the only value where
        absolute values are compared to calculate the percentage.
    </p>

    <form action="">
        <label for="select-period" class="sr-only">Period</label>
        <select id="select-period" class="custom-select select-period" disabled>
            <option value="">Loading…</option>
            <option value="overall">Overall</option>
            <option value="yearly">Yearly</option>
            <option value="monthly">Monthly</option>
        </select>
    </form>

    <h3>Overall</h3>
    <div class="overall-container clearfix">
        <table id="quantities" class="table table-striped"></table>
    </div>

    <h3>New Programs</h3>
    <div class="chart-container">
        <canvas id="new-and-remixed-programs-chart" class="chart"></canvas>
    </div>

    <h3>Programs with Scenes</h3>
    <div id="programs-with-multiple-scenes-pie-chart">
        <div class="chart-container">
            <div class="legend legend-horizontal"></div>
            <canvas class="chart pie-chart center" width="320px" height="320px"></canvas>
        </div>
        <div class="chart-statistics"></div>
    </div>

    <h3>Programs with Groups</h3>
    <div id="programs-with-groups-pie-chart">
        <div class="chart-container">
            <div class="legend legend-horizontal"></div>
            <canvas class="chart pie-chart center" width="320px" height="320px"></canvas>
        </div>
        <div class="chart-statistics"></div>
    </div>

    <h3>Landscape vs. Portrait</h3>
    <div id="landscape-programs-pie-chart">
        <div class="chart-container">
            <div class="legend legend-horizontal"></div>
            <canvas class="chart pie-chart center" width="320px" height="320px"></canvas>
        </div>
        <div class="chart-statistics"></div>
    </div>

    <h3>New vs. remixed</h3>
    <div id="remixed-programs-pie-chart">
        <div class="chart-container">
            <div class="legend legend-horizontal"></div>
            <canvas class="chart pie-chart center" width="320px" height="320px"></canvas>
        </div>
        <div class="chart-statistics"></div>
    </div>

    <h3>Versions</h3>
    <div id="versions-pie-chart">
        <div class="chart-container"
             style="display: flex; flex-direction: row-reverse; align-items: center; justify-content: center">
            <div class="legend legend-vertical"></div>
            <canvas class="chart pie-chart" width="320px" height="320px"></canvas>
        </div>
        <div class="chart-statistics"></div>
    </div>

    <h3>Screen sizes</h3>
    <div id="screen-size-pie-chart">
        <div class="chart-container"
             style="display: flex; flex-direction: row-reverse; align-items: center; justify-content: center">
            <div class="legend legend-vertical"></div>
            <canvas class="chart pie-chart" width="320px" height="320px"></canvas>
        </div>
        <div class="chart-statistics"></div>
    </div>

    <h3>Platform</h3>
    <div id="platforms-pie-chart">
        <div class="chart-container"
             style="display: flex; flex-direction: row-reverse; align-items: center; justify-content: center">
            <div class="legend legend-vertical"></div>
            <canvas class="chart pie-chart" width="320px" height="320px"></canvas>
        </div>
        <div class="chart-statistics"></div>
    </div>

    <h3>Brick usage</h3>
    <p>You can find the Brick usage statistics for Scratch <a href="/catrobat/statistics/scratch.html">here</a>.</p>
    <table id="brick-usage-chart" class="usage-chart table-striped"></table>
</template>

<script>
    webcomponentsUtils.importScope(function(importDocument) {
        var getStatisticsAjax = $.getJSON(URLS.PROGRAM_STATISTICS);
        webcomponentsUtils.registerElement('catrobat-statistics', function() {
            var template = importDocument.getElementById('t-catrobat-statistics');
            this.attachedCallback = function() {
                var clone = webcomponentsUtils.cloneTemplate(template);
                this.appendChild(clone);

                flattPage.updateIndex();

                getStatisticsAjax.done(function(statistics) {
                    var selectPeriodElement = document.querySelector('.select-period');
                    selectPeriodElement.onchange = function() {
                        setPeriod(this.value);
                    };

                    function setPeriod(period) {
                        $('.catrobat-statistics-option').hide();
                        $('.option-' + period).show();

                        history.replaceState(null, 'period', '?period=' + period + location.hash);
                        selectPeriodElement.value = period;

                        var current;
                        var last;
                        switch (period) {
                            case 'overall':
                                current = statistics.overall;
                                last = {};
                                break;
                            case 'yearly':
                                current = statistics.overallCurrentYear;
                                last = statistics.overallLastYear;
                                break;
                            case 'monthly':
                                current = statistics.overallCurrentMonth;
                                last = statistics.overallLastMonth;
                                break;
                        }
                        destroyCharts();
                        createStatistics(statistics.updated, statistics.timeline, current, last);
                    }

                    setPeriod(htmlUtils.getParameterByName('period', window.location.search) || 'yearly');
                    selectPeriodElement.disabled = false;
                    selectPeriodElement.remove(0);
                    htmlUtils.removeClassFromElements('loading');
                    setTimeout(function() {
                        htmlUtils.scrollTo();
                    }, 50);
                });
            };
        });
    });
</script>
