input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input {
    border-radius: 4px;
}

.user {
    margin: auto;
    width: 50%;
    font-size: 24px;
    padding: 12px 12px 12px 24px;
}

.user-input.valid {
    border: 2px solid transparent;
}

.tournament {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round {
    flex: 1;
    flex-grow: 0;
    margin-right: 20px;
}

.match {
    width: 168px;
    height: 80px;
    padding: 8px 12px 8px 14px;
    border-radius: 5px;
    background: #e8e8e8;
    border: 1px solid #dddddd;
    border-right-color: #b8b8b8;
    border-bottom-color: #b8b8b8;
    margin-bottom: 8px;
    margin-left: 24px;
}

.invisible {
    visibility: hidden;
}

.match-input {
    border: 1px solid #bababa;
    padding-left: 4px;
    margin-top: 3px;
    margin-right: -22px;
    transition: all 0.4s ease;
}

.match-input.invalid {
    background: #ffcccc;
    border: 1px solid #ff9999;
}

.match-input {
    float: right;
    width: 32px;
    outline: none;
}

.nation {
    display: inline-block;
    padding-top: 3px;
}

.nation-img {
    padding-right: 12px;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
}