html,
body,
.app {
    margin: 0;
    height: 100%;
    min-height: 100%;
    min-width: 720px;
}

body {
    overflow: hidden;
    color: #424242;
}

.invisible {
    opacity: 0;
}

#content {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
}

.app-header {
    flex: 0 0 auto;
    text-align: center;
    background: #144965;
    color: white;
    font-size: 21px;
    line-height: 32px;
    padding: 12px 12px 14px 24px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 1000;
}

.app-header-content {
    width: 700px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.app-content {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    background: #eee;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input {
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.user {
    display: inline-block;
}

.user-input {
    line-height: 18px;
    transition: all 0.2s ease;
    outline: none;
    margin-right: 4px;
    margin-left: 27px;
    background: none;
    border: 2px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.user-input:focus {
    border: 2px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.user-input.valid {
    border: 2px solid transparent;
    background: none;
}

.user-input::-webkit-input-placeholder {
    color: #1a658b;
}

.user-input:-moz-placeholder {
    color: #1a658b;
    opacity: 1;
}

.user-input::-moz-placeholder {
    color: #1a658b;
    opacity: 1;
}

.user-input:-ms-input-placeholder {
    color: #1a658b;
}

.match-parent {
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 8px;
    padding-top: 18px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.match-parent.last {
    margin-bottom: 32px;
}

.match {
}

.match.over {
    opacity: 0.6;
}

.match-input {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-bottom: 1px solid #424242;
    border-radius: 0;
    outline: none;
    transition: all 0.4s ease;
}

.match-input:focus {
    border-bottom: 1px solid #424242 !important;
}

.match-input.valid {
    border-bottom: 1px solid transparent;
}

.match-input.invalid {
    border: none;
    border-bottom: 1px solid #ec645b !important;
}

.match-input:disabled {
    background: white;
}

.match-separator {
    font-size: 24px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

.score {
    display: inline-block;
    vertical-align: bottom;
}

.nation {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    width: 244px;
    margin-bottom: 10px;
}

.nation.left {
    text-align: right;
}

.nation.right {
    text-align: left;
}

.nation-img {
    margin-left: 16px;
    margin-right: 16px;
}