.usage-chart {
    width: 100%;
}

.usage-chart.table-striped tbody tr:nth-of-type(odd) {
    background-color: inherit;
}

.usage-chart.table-striped tbody tr:nth-of-type(4n + 1) {
    background-color: rgba(0, 0, 0, .05);
}

@media (max-width: 500px) {
    .usage-chart .diff {
        display: none;
    }

    .usage-chart {
        width: calc(100% + 24px);
        margin-left: -12px;
        margin-right: -12px;
    }
}
